/* PAGE */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #ff003c;
}

.page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: url("../images/main.png") center / cover no-repeat;
}


/* =====================
   TICKET FRAME
===================== */

.ticket {

  position: relative;
  background: url("../images/ticket2.png") center / contain no-repeat;
  width: 1100px;
  aspect-ratio: 3.6/1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 15%;
  gap: 18px;
  text-align: center;
}

/* TITLE */

.ticket h2 {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}


/* FORM */

.form {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.form input {
  padding: 10px;
  width: 230px;

  border-radius: 8px;
  border: 1px solid #aaa;
  font-size: 14px;
}

.form button {
  padding: 10px;
  width: 230px;

  border: none;
  border-radius: 8px;

  background: #ff3c7d;
  color: white;
  font-weight: 600;
  cursor: pointer;
}


/* LINK */

.link {
  margin: 0;
  font-size: 13px;
  color: #ff3c7d;
}


/* =====================
   RIGHT EMOJI DECOR
===================== */

.ticket-hearts{

  position:absolute;

  left:50%;
  top:10%;                 /* anchor vertically */
  transform:translateY(-50%);

  font-size:20px;
  flex-direction:column;
  opacity:0.95;

  display:flex;
  gap:6px;

  animation:floatLove 3s ease-in-out infinite;
}

@keyframes floatLove {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-4px);
  }

  100% {
    transform: translateY(0);
  }
}


/* =====================
   MOBILE SAFE SCALE
===================== */

@media (max-width: 600px) {
  .ticket {
    /* keep ticket centered */
    width: 200vw;
    /* anchor content to left */
    justify-content: flex-start;
    align-items: center;
    padding-right: 15%;
  }

  .link {
    /* stay inside first ticket section */
    width: 78%;
    max-width: 320px;
  }

  .ticket h2 {
    margin-bottom: 0.1px;
    font-size:18px;
    font-weight:200;
  }

  .form {
    flex-direction: column;
    gap: 2 px;
  }

  .form input,
  .form button {
    width: 100%;
  }

  .link {
    margin-top: 2px;
    text-align: center;
  }
}
.ticket-hearts{

  position:absolute;

  left: 85%;
  top:10%;                 /* anchor vertically */
  transform:translateY(-50%);

  font-size:20px;
  flex-direction:column;
  opacity:0.95;

  display:flex;
  gap:6px;

  animation:floatLove 3s ease-in-out infinite;